/*################ TAGS ####################### */

body::before {
    display: block;
    content: '';
    height: 80px;
}


/* #################### CLASSES ############################# */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0px;
}
.logo {
    width: 100px;
    position: relative;
    transition: 0.6s;
}
.video-container {
    width:100%;
}

/* ####### Boxes ###### */
.phone-number {
    text-decoration: none;
    color: #fff;
}
.phone {
    text-decoration: none;
}

/* ######### Contact Us #### */
.get-in-touch {
    max-width: 800px;
    height: 900px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.get-in-touch-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
}
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
}

.contact-form .input-text:focus {
    outline: none;
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.message-input {
    max-width: 100%;
}
.contact-form .submit-btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

